<h1>Post List</h1>

<!-- 여기서 post_list는 blog/views.py에 정의된 것을 말함 -->
<!-- 이 템플릿은 blog/views.py에 render부분에서 활용된다 -->
<!-- 템플릿 변수를 사용하여 html 문서 상에서도 어떠한 객체의 속성들에 접근할 수 있고, 이를 출력할 수 있도록 지원합니다. -->
<!-- 템플릿 태그는 {% %}로 구성되어 있습니다. -->
<!-- HTML 문서는 프로그래밍 언어가 아니고 마크업 언어이기 때문에 단지 문서를 웹에서 띄워주는 역할만 한다.
그렇기 때문에 HTML 자체는 프로그래밍적 로직을 구현할 수 없다. 하지만 템플릿 태그를 사용한다면 가능하다. -->
<!-- {% extends %}와 같이 단독으로 사용할 수 있는 템플릿 태그들도 있지만,
    {% if %} 처럼 뒤에 {% endif %} 템플릿 태그를 반드시 닫아주어야 하는 것들도 있습니다. -->
{% for post in post_list %}
<h2>{{ post.title }}</h2>
{{ post.content }} {% endfor %}
